<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MVC Web application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h1>Edit a record</h1>

<form action="update", method="post">
    <div>
        <p>Name: <input type="text" name="firstname" th:value="${firstName}"/></p>
        <p>Surname: <input type="text" name="lastname" th:value="${lastName}"/></p>
        <input type="hidden" name="id" th:value="${id}" />
    </div>
    <input type="submit" />
</form>

<a href="list"> Show the list </a>

</body>
</html>