<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MVC Web application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h1>Detail of person:</h1>
<div>
    <p th:text="'Id: ' + ${id}">Id: 00</p>
    <p th:text="'Name: ' + ${firstName}">name: n</p>
    <p th:text="'Surname: ' + ${lastName}">surname: s</p>
</div>

<a href="edit" th:href="@{edit(id=${id})}"> edit </a><br>
<a href="delete" th:href="@{delete(id=${id})}"> delete </a><br>
<a href="list"> Show the list </a>

</body>
</html>